html * {
	font-family: sans-serif;
	letter-spacing: .8px;
	height: 100%;
}

h1 {
	color:lightblue;
	padding: 8px;
}

h2 {
    color:#ab8ef5;
    text-align:center;
}

/* Contact.html style */
*{
	box-sizing: border-box;
}

body {
	color: #4d4d4d;
}

.tabcontent {
	color: #4d4d4d;
	display: none;
	padding: 100px 20px;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #fcba03;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

.gallerycolumn {
	float: left;
	margin-top: 2px;
	padding: 5px;
}

.gallerycolumn img {
	max-height: 250px;
	width: auto;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/* End of contact.html style */

/* Start of Gallery style */
/* div.gallery { */
  /* margin: 5px; */
  /* float: left; */
  /* width: auto; */
/* } */

/* div.gallery: hover { */
	/* border: 1px solid #777; */
/* } */

/* div.gallery img { */
  /* max-height: 300px; */
  /* width: auto; */
/* } */
/* End of Gallery style */

p.intro {
	 font-size:30px; 
	 color:#99bbff; 
	 text-align:right;
}

.education{
    text-align:center;
}

.about{
	text-align:center;
}

/* navBar Format */
ul.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5d97f5;
}

ul.navBar li {
  float: left;
}

ul.navBar li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding:10px;
	text-decoration: none;
}

ul.navBar li a:hover {
  background-color: #80ccff;
}

/* ul.navBar li button:focus{ */
  /* background-color: #325ca8; */
  /* outline: none; */
/* } */

.active {
	background-color: #325ca8;
}

/* personalLink Format */
ul.personalLink {
	display: inline-block;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
    padding: 0;
}

ul.personalLink li a {
  	display: inline-block;
	padding: 10px; /*Why is the padding has a little square before stackoverflow here?*/
	text-align: center;
}

ul.personalLink li {
	float: left;
	border: 3px solid white;
	background-color: #ffe6f7;
}

ul.personalLink li a:link {
  color: green; 
  background-color: transparent; 
  text-decoration: none;
}

ul.personalLink li a:visited {
  color: #ff99cc;
  background-color: transparent;
  text-decoration: none;
}

ul.personalLink li a:hover {
  color: white;
  background-color: #ff99cc;
  text-decoration: none;
}